body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('fondo-api.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  text-align: center;
  background-color: #004AAD;
  color: white;
  padding: 10px;
}

header img {
  height: 60px;
  margin-top: 10px;
}

main {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 40px auto;
  padding: 20px;
  max-width: 500px;
  border-radius: 10px;
  text-align: center;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.botones button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#btnVerTodos { background-color: #00BCD4; }
#btnBuscar { background-color: #2196F3; }
#btnBorrar { background-color: #F44336; }
#btnBibliografia { background-color: #673AB7; }
#btnCampus { background-color: #4CAF50; }

footer {
  text-align: center;
  color: #fff;
  background-color: #004AAD;
  padding: 15px;
  margin-top: 20px;
  line-height: 1.6;
}

.modal {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex; align-items: center; justify-content: center;
  z-index: 9999;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  text-align: left;
}
